@model DotNetMomma_MVC.Models.Category




    <div class="tool-list-wrapper">
        <div class="tool-header-wrapper">

            <div class="tool-header">
                <h2><span class="fas fa-palette icons"></span>@Model.Name</h2>
            </div>
            <div class="tool-button">+</div>
        </div>
        <div class="toollist">

            @*@foreach (var item in Model)
            {
                <div class="tool">
                    <a href="@item.URL" target="_blank">
                        <p class="description">@item.Name</p>
                    </a>
                </div>
            }*@
        </div>
    </div>
