body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Lucida Grande";
    font-size: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* header styles */
.my-header {
    background-color: #233656;
    color: #fff;
}

.my-logo {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: 'Permanent Marker', cursive;
}
.my-nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}
.my-nav li:hover {
    background-color: navy;
}

/* main styles */

.jumbotron {
    background-image: url("../Images/banner-background.jpg");
    background-size: cover;
    opacity: 0.7;
    height: 245px;
}
    .jumbotron h1 {
        font-size: 40px;
        letter-spacing: 5px;
        font-family: 'Luckiest Guy', cursive;
        color: #000066;
    }
    .jumbotron .image-content {
        float: left;
        padding-right: 30px;
    }
.jumbotron .image-content img {
    width: 300px;
    opacity: 0.8;
}
    .jumbotron .sub-heading {
        font-family: 'Roboto Mono', monospace;
        font-size: 25px;
        color: black;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        opacity: 1;
    }

    /* Menu Items */

.item-box {

    box-shadow: 3px 3px grey;
    border-radius: 15%;
    height: 150px;
    padding: 10px;
    color: white;
    opacity: 0.7;
    width: 300px;
    align-items: center;
    margin: 10px;
    justify-content: center;
}

    .item-box a:visited {
        color: white;
    }

    .item-box:hover {
        opacity: 0.5;
    }

    .item-box:active {
        position: relative;
        top: 3px;
        left: 3px;
        box-shadow: none;
    }

.tools {
    background-color: purple;
}

.training {
    background-color: green;
}

.kids {
    background-color: blue;
}

/* page header styles */
.section-heading {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: black;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    margin-top: 50px;
}

    .section-heading .fas {
        margin-right: 10px;
    }
/* Tools */


.tools-wrapper {
    padding-bottom: 50px;
}

    .tools-wrapper p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
    }




.tool-header-wrapper {
    display: flex;
    align-items: center;
    background-color: #415B76;
    border-radius: 1rem;
    border: 2px solid #415B76;
    padding: .5rem 1rem;
    margin-top: 1rem;
    color: #EEF4F2;
}

.tool-header-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tool-header .fas {
    margin-right: .7rem;
}

.tool-header, .links-wrapper h1 {
    font-size: 1rem;
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Luckiest Guy', cursive; */
    letter-spacing: .2rem;
}

.tool-header {
    /* padding-top: 50px; */
    flex-basis: 90%;
}

.tool-button {
    flex-basis: 10%;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.toollist {
    display: flex;
    flex-wrap: wrap;
    display: none;
    border: 2px solid #415B76;
    background-color: #CDD6D5;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: .5rem;
}

.open-toollist {
    display: block;
}

.tool {
    /* vertical-align: top; */
    height: 75px;
    flex-basis: 48%;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}

.toollist .icons {
    font-size: 25px;
    padding-right: 15px;
}

.tool img {
    width: 200px;
    display: none;
}

.tool a {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
}

    .tool a:visited {
        color: black;
    }

    .tool a:hover {
        /* color: white; */
        color: #415B76;
    }

.tool item-desc {
    line-height: 75px;
}