@model DotNetMomma_Site.ViewModels.WidgetViewModel

<div id="blog-sidebars">
    @Html.Partial("_Categories", Model.PostCategories)
    @Html.Partial("_Tags", Model.Tags)
    @Html.Partial("_LatestPosts", Model.LatestPosts)
</div>
