@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="image-content"><img src="~/Images/pexels-photo-169573.jpeg" alt="laptop"></div>
    <h1>Welcome to DotNetMomma</h1>
    <div class="sub-heading">
        <p class="lead">Your one-stop resource for learning how to code</p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        

        <h2>Tools</h2>
        <p>Most commonly used tools</p>
        <p><a class="btn btn-default" href="@Url.Action("Tools","Resources")">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <h2>Training</h2>
        <p>Training resources available</p>
        <p><a class="btn btn-default" href="@Url.Action("Training","Resources")">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <h2>Kids</h2>
        <p>
            Resources for teaching kids how to code.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Kids","Resources")">Go &raquo;</a></p>
    </div>

</div>